{
    "openapi": "3.1.0",
    "info": {
        "title": "RevRing Voice AI API",
        "description": "RevRing Voice AI platform API for managing AI voice agents, phone calls, SIP trunks, and analytics. Build intelligent voice applications that can handle inbound and outbound phone calls with AI-powered conversational agents.",
        "version": "1.0.0",
        "contact": {
            "name": "RevRing Support",
            "url": "https://revring.ai"
        }
    },
    "servers": [
        {
            "url": "https://api.revring.ai/v1",
            "description": "Production API"
        }
    ],
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "SIP Trunks",
            "description": "Manage SIP trunks for connecting agents to the phone network"
        },
        {
            "name": "Agents",
            "description": "Manage AI voice agents and their configuration"
        },
        {
            "name": "Calls",
            "description": "Manage and query phone calls"
        },
        {
            "name": "Analytics",
            "description": "Get analytics and metrics about your calls"
        }
    ],
    "paths": {
        "/sip-trunks": {
            "get": {
                "summary": "List SIP Trunks",
                "description": "Retrieve all SIP trunks for your organization. SIP trunks connect your AI agents to the phone network.",
                "operationId": "listSipTrunks",
                "tags": [
                    "SIP Trunks"
                ],
                "responses": {
                    "200": {
                        "description": "List of SIP trunks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SipTrunk"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Create SIP Trunk",
                "description": "Create a new SIP trunk. Provide phone numbers that will route through this trunk.",
                "operationId": "createSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SipTrunkCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "SIP trunk created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SipTrunk"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "409": {
                        "description": "Gateway already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "gateway_exists"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sip-trunks/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "SIP trunk ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get SIP Trunk",
                "description": "Retrieve a specific SIP trunk by ID",
                "operationId": "getSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "responses": {
                    "200": {
                        "description": "SIP trunk details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SipTrunk"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "patch": {
                "summary": "Update SIP Trunk",
                "description": "Update SIP trunk configuration including phone numbers",
                "operationId": "updateSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SipTrunkUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SIP trunk updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SipTrunk"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete SIP Trunk",
                "description": "Delete a SIP trunk. Cannot delete if agents are using it.",
                "operationId": "deleteSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "responses": {
                    "200": {
                        "description": "SIP trunk deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "description": "Cannot delete - has dependent agents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "has_dependent_agents"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents": {
            "get": {
                "summary": "List Agents",
                "description": "Retrieve all AI voice agents for your organization",
                "operationId": "listAgents",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "List of agents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Agent"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Create Agent",
                "description": "Create a new AI voice agent with specified configuration",
                "operationId": "createAgent",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Agent created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Agent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "409": {
                        "description": "Conflict - Resource already exists or invalid trunk",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "conflict",
                                                "invalid_trunk"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Agent",
                "description": "Retrieve specific agent by ID",
                "operationId": "getAgent",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Agent details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Agent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "patch": {
                "summary": "Update Agent",
                "description": "Update agent configuration",
                "operationId": "updateAgent",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Agent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid body or invalid trunk",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "invalid_body",
                                                "invalid_trunk"
                                            ]
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete Agent",
                "description": "Delete an agent",
                "operationId": "deleteAgent",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Agent deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/agents/{id}/phone-numbers": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "List Agent Phone Numbers",
                "description": "Get phone numbers assigned to an agent for inbound calls",
                "operationId": "listAgentPhoneNumbers",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "List of phone numbers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AgentPhoneNumber"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "post": {
                "summary": "Add Phone Number",
                "description": "Assign a phone number to an agent",
                "operationId": "addAgentPhoneNumber",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentPhoneNumberCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Phone number added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgentPhoneNumber"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "description": "Number already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "number_exists"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents/{id}/phone-numbers/{phoneId}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "phoneId",
                    "in": "path",
                    "required": true,
                    "description": "Phone number ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "delete": {
                "summary": "Remove Phone Number",
                "description": "Remove a phone number from an agent",
                "operationId": "deleteAgentPhoneNumber",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Phone number removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/agents/{id}/custom-tools": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "List Custom Tools",
                "description": "Get custom tools configured for an agent",
                "operationId": "listAgentCustomTools",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "List of custom tools",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AgentCustomTool"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "post": {
                "summary": "Create Custom Tool",
                "description": "Add a custom tool that the agent can invoke via function calling",
                "operationId": "createAgentCustomTool",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentCustomToolCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Custom tool created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgentCustomTool"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/agents/{id}/custom-tools/{toolId}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "toolId",
                    "in": "path",
                    "required": true,
                    "description": "Tool ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "patch": {
                "summary": "Update Custom Tool",
                "description": "Update custom tool configuration",
                "operationId": "updateAgentCustomTool",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentCustomToolUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Custom tool updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgentCustomTool"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete Custom Tool",
                "description": "Remove a custom tool from an agent",
                "operationId": "deleteAgentCustomTool",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Custom tool deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/calls": {
            "get": {
                "summary": "List Calls",
                "description": "List calls with filtering, sorting, and pagination",
                "operationId": "listCalls",
                "tags": [
                    "Calls"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Items per page",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort field",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "createdAt",
                                "startedAt",
                                "endedAt",
                                "durationSeconds",
                                "status",
                                "direction"
                            ],
                            "default": "createdAt"
                        }
                    },
                    {
                        "name": "sortDir",
                        "in": "query",
                        "description": "Sort direction",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (comma-separated)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Filter by direction",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "INBOUND",
                                "OUTBOUND"
                            ]
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "query",
                        "description": "Filter by agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "sipTrunkId",
                        "in": "query",
                        "description": "Filter by SIP trunk ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "fromNumber",
                        "in": "query",
                        "description": "Filter by from number (E.164)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toNumber",
                        "in": "query",
                        "description": "Filter by to number (E.164)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdFrom",
                        "in": "query",
                        "description": "Filter by creation date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdTo",
                        "in": "query",
                        "description": "Filter by creation date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "schema": {
                            "type": "string",
                            "maxLength": 64
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of calls",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallsList"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Send Call",
                "description": "Initiate an outbound call with an agent",
                "operationId": "createOutboundCall",
                "tags": [
                    "Calls"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OutboundCallCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Outbound call initiated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Call"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "description": "Agent not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "agent_not_found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Concurrency limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "concurrency_limit"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Call ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Call",
                "description": "Retrieve call details by ID",
                "operationId": "getCall",
                "tags": [
                    "Calls"
                ],
                "responses": {
                    "200": {
                        "description": "Call details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Call"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/analytics/overview": {
            "get": {
                "summary": "Get Analytics Overview",
                "description": "Get analytics overview with time-series data and summary cards",
                "operationId": "getAnalyticsOverview",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": true,
                        "description": "Start date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": true,
                        "description": "End date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "query",
                        "description": "Filter by agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "tz",
                        "in": "query",
                        "description": "Timezone (IANA format)",
                        "schema": {
                            "type": "string",
                            "default": "UTC"
                        }
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "description": "Time bucket granularity",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "auto",
                                "hour",
                                "day",
                                "month"
                            ],
                            "default": "auto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analytics data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnalyticsOverview"
                                        }
                                    },
                                    "required": ["data"]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            }
        },
        "/analytics/active": {
            "get": {
                "summary": "Get Active Calls Count",
                "description": "Get the current number of active (ongoing) calls. Not affected by date filters.",
                "operationId": "getActiveCalls",
                "tags": [
                    "Analytics"
                ],
                "responses": {
                    "200": {
                        "description": "Active calls count",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "activeCalls": {
                                                    "type": "integer",
                                                    "description": "Number of currently active calls"
                                                }
                                            },
                                            "required": ["activeCalls"]
                                        }
                                    },
                                    "required": ["data"]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            }
        }
    },
    "webhooks": {
        "pre-call": {
            "post": {
                "summary": "Pre-Call Webhook",
                "description": "Called before an inbound call is answered. Return variables to be merged with the agent's default variables for this call.",
                "tags": [
                    "Webhooks"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "event": {
                                        "type": "string",
                                        "example": "pre_call"
                                    },
                                    "agentId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "The agent ID"
                                    },
                                    "fromNumber": {
                                        "type": "string",
                                        "description": "Caller's phone number (E.164)",
                                        "example": "+11234567890"
                                    },
                                    "toNumber": {
                                        "type": "string",
                                        "description": "Dialed phone number (E.164)",
                                        "example": "+19876543210"
                                    }
                                },
                                "required": [
                                    "event",
                                    "agentId",
                                    "fromNumber",
                                    "toNumber"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook response with optional variables",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "variables": {
                                            "type": "object",
                                            "description": "Additional variables to merge with agent defaults",
                                            "additionalProperties": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "post-call": {
            "post": {
                "summary": "Post-Call Webhook",
                "description": "Called after a call ends with complete call details including transcript, recording, and summary.",
                "tags": [
                    "Webhooks"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "Call ID"
                                    },
                                    "direction": {
                                        "type": "string",
                                        "enum": [
                                            "INBOUND",
                                            "OUTBOUND"
                                        ]
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "COMPLETED",
                                            "TRANSFERRED",
                                            "FAILED"
                                        ]
                                    },
                                    "fromNumber": {
                                        "type": "string",
                                        "description": "Caller's number (E.164)"
                                    },
                                    "toNumber": {
                                        "type": "string",
                                        "description": "Called number (E.164)"
                                    },
                                    "recordingUrl": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "URL to call recording"
                                    },
                                    "hangupCause": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Reason call ended. Common values: USER_ENDED, END_CALL_TOOL, SILENCE_TIMEOUT, MAX_DURATION, VOICEMAIL_DETECTED"
                                    },
                                    "errorMessage": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Error message if call failed"
                                    },
                                    "transcript": {
                                        "type": "array",
                                        "nullable": true,
                                        "description": "Conversation transcript",
                                        "items": {
                                            "type": "object"
                                        }
                                    },
                                    "summary": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "AI-generated call summary"
                                    },
                                    "metrics": {
                                        "type": "object",
                                        "nullable": true,
                                        "description": "Call quality metrics"
                                    },
                                    "initiatedAt": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "startedAt": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "endedAt": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "durationSeconds": {
                                        "type": "integer",
                                        "nullable": true,
                                        "description": "Call duration in seconds"
                                    }
                                },
                                "required": [
                                    "id",
                                    "direction",
                                    "status",
                                    "fromNumber",
                                    "toNumber"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Webhook received successfully"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-api-key",
                "description": "API key for authentication. Generate API keys from the RevRing dashboard."
            }
        },
        "responses": {
            "UnauthorizedError": {
                "description": "Authentication required or API key invalid",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "unauthorized"
                                }
                            }
                        }
                    }
                }
            },
            "BillingInactiveError": {
                "description": "Subscription inactive or billing issue",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "billing_inactive"
                                }
                            }
                        }
                    }
                }
            },
            "NotFoundError": {
                "description": "Resource not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "not_found"
                                }
                            }
                        }
                    }
                }
            },
            "BadRequestError": {
                "description": "Invalid request parameters",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "invalid_body"
                                },
                                "details": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "schemas": {
            "SipTrunk": {
                "type": "object",
                "description": "SIP Trunk for routing phone calls",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique identifier"
                    },
                    "gatewayName": {
                        "type": "string",
                        "description": "Internal gateway identifier (auto-generated, read-only)"
                    },
                    "friendlyName": {
                        "type": "string",
                        "nullable": true,
                        "description": "Human-readable name for this trunk"
                    },
                    "username": {
                        "type": "string",
                        "nullable": true,
                        "description": "SIP authentication username"
                    },
                    "proxy": {
                        "type": "string",
                        "nullable": true,
                        "description": "SIP proxy server address"
                    },
                    "cloud": {
                        "type": "object",
                        "nullable": true,
                        "description": "Phone numbers associated with this trunk",
                        "properties": {
                            "numbers": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "pattern": "^\\+[1-9]\\d{1,14}$"
                                },
                                "description": "Phone numbers in E.164 format (e.g., +12125551234)"
                            }
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When this trunk was created"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When this trunk was last updated"
                    }
                },
                "required": [
                    "id",
                    "gatewayName",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "SipTrunkCreate": {
                "type": "object",
                "description": "Create a new SIP Trunk. Provide the proxy address and phone numbers.",
                "properties": {
                    "friendlyName": {
                        "type": "string",
                        "maxLength": 128,
                        "description": "Human-readable name for this trunk"
                    },
                    "username": {
                        "type": "string",
                        "description": "SIP authentication username (optional)"
                    },
                    "password": {
                        "type": "string",
                        "description": "SIP authentication password (not returned in responses)"
                    },
                    "proxy": {
                        "type": "string",
                        "description": "SIP proxy server address (required)"
                    },
                    "cloud": {
                        "type": "object",
                        "description": "Phone numbers to associate with this trunk",
                        "properties": {
                            "numbers": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "pattern": "^\\+[1-9]\\d{1,14}$"
                                },
                                "minItems": 1,
                                "description": "Phone numbers in E.164 format (e.g., +12125551234)"
                            }
                        },
                        "required": [
                            "numbers"
                        ]
                    }
                },
                "required": [
                    "proxy",
                    "cloud"
                ]
            },
            "SipTrunkUpdate": {
                "type": "object",
                "description": "Update SIP Trunk. Only phone numbers can be modified after creation.",
                "properties": {
                    "cloud": {
                        "type": "object",
                        "description": "Update phone numbers associated with this trunk",
                        "properties": {
                            "numbers": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "pattern": "^\\+[1-9]\\d{1,14}$"
                                },
                                "minItems": 1,
                                "description": "Phone numbers in E.164 format (e.g., +12125551234)"
                            }
                        },
                        "required": [
                            "numbers"
                        ]
                    }
                },
                "required": [
                    "cloud"
                ]
            },
            "Agent": {
                "type": "object",
                "description": "AI Voice Agent configuration",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "sipTrunkId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "sipTrunk": {
                        "type": "object",
                        "properties": {
                            "friendlyName": {
                                "type": "string",
                                "nullable": true
                            }
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "Agent name"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "disabled"
                        ]
                    },
                    "promptTemplate": {
                        "type": "string",
                        "description": "System prompt template with {{variable}} placeholders"
                    },
                    "defaultVariables": {
                        "type": "object",
                        "nullable": true,
                        "description": "Default template variables"
                    },
                    "firstMessage": {
                        "type": "string",
                        "nullable": true,
                        "description": "Agent's opening message"
                    },
                    "turnTimeoutSeconds": {
                        "type": "integer",
                        "description": "Seconds to wait for user response"
                    },
                    "silenceEndCallTimeoutSeconds": {
                        "type": "integer",
                        "description": "Silence duration before ending call"
                    },
                    "maxConversationDurationSeconds": {
                        "type": "integer",
                        "description": "Maximum call duration"
                    },
                    "llmTemperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2,
                        "description": "LLM temperature for response randomness (0 = deterministic, 2 = very creative)"
                    },
                    "preCallWebhookUrl": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true,
                        "description": "Webhook URL called before answering inbound calls"
                    },
                    "postCallWebhookUrl": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true,
                        "description": "Webhook URL called after call ends with transcript and recording"
                    },
                    "endCallEnabled": {
                        "type": "boolean",
                        "description": "Allow agent to end the call"
                    },
                    "endCallRulesOverride": {
                        "type": "string",
                        "nullable": true,
                        "description": "Custom instructions for when agent should end call"
                    },
                    "transferEnabled": {
                        "type": "boolean",
                        "description": "Allow agent to transfer calls"
                    },
                    "transferRoutes": {
                        "type": "array",
                        "nullable": true,
                        "description": "Available transfer destinations with conditions",
                        "items": {
                            "type": "object",
                            "properties": {
                                "to_number": {
                                    "type": "string",
                                    "pattern": "^\\+[1-9]\\d{1,14}$",
                                    "description": "Transfer destination number (E.164)"
                                },
                                "condition": {
                                    "type": "string",
                                    "description": "When to offer this transfer option"
                                }
                            }
                        }
                    },
                    "transferDescriptionOverride": {
                        "type": "string",
                        "nullable": true,
                        "description": "Custom instructions for transfer feature"
                    },
                    "voicemailEnabled": {
                        "type": "boolean",
                        "description": "Enable voicemail detection"
                    },
                    "voicemailAction": {
                        "type": "string",
                        "enum": [
                            "hangup",
                            "leave_message"
                        ],
                        "description": "What to do when voicemail is detected"
                    },
                    "voicemailMessage": {
                        "type": "string",
                        "nullable": true,
                        "description": "Message to leave on voicemail (if action is leave_message)"
                    },
                    "voiceId": {
                        "type": "string",
                        "description": "Voice ID (copy from dashboard Voice Library)"
                    },
                    "voiceTemperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2,
                        "description": "Voice randomness/creativity (0 = consistent, 2 = varied)"
                    },
                    "voiceSpeed": {
                        "type": "number",
                        "minimum": 0.5,
                        "maximum": 1.5,
                        "description": "Speech speed multiplier (0.5 = half speed, 1.5 = 1.5x speed)"
                    },
                    "runtimeConfig": {
                        "type": "object",
                        "nullable": true,
                        "description": "Advanced runtime configuration"
                    },
                    "phoneNumbers": {
                        "type": "array",
                        "description": "Phone numbers assigned to this agent for inbound calls",
                        "items": {
                            "$ref": "#/components/schemas/AgentPhoneNumber"
                        }
                    },
                    "customTools": {
                        "type": "array",
                        "description": "Custom function calling tools available to this agent",
                        "items": {
                            "$ref": "#/components/schemas/AgentCustomTool"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "sipTrunkId",
                    "name",
                    "status",
                    "promptTemplate",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "AgentCreate": {
                "type": "object",
                "description": "Create a new AI voice agent",
                "properties": {
                    "sipTrunkId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "SIP trunk ID to use for this agent's calls"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 128,
                        "description": "Agent name"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "disabled"
                        ],
                        "description": "Agent status (active = can receive calls, disabled = inactive)"
                    },
                    "promptTemplate": {
                        "type": "string",
                        "description": "System prompt with {{variable}} placeholders"
                    },
                    "defaultVariables": {
                        "type": "object",
                        "description": "Default values for template variables"
                    },
                    "firstMessage": {
                        "type": "string",
                        "maxLength": 4000,
                        "description": "Agent's opening message"
                    },
                    "turnTimeoutSeconds": {
                        "type": "integer",
                        "minimum": -1,
                        "description": "Seconds to wait for user response (-1 = no timeout)"
                    },
                    "silenceEndCallTimeoutSeconds": {
                        "type": "integer",
                        "minimum": -1,
                        "description": "Silence duration before ending call (-1 = no timeout)"
                    },
                    "maxConversationDurationSeconds": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "Maximum call duration in seconds"
                    },
                    "llmTemperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2,
                        "description": "LLM temperature for response randomness (0-2)"
                    },
                    "preCallWebhookUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Webhook URL called before answering (optional)"
                    },
                    "postCallWebhookUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Webhook URL called after call ends (optional)"
                    },
                    "endCallEnabled": {
                        "type": "boolean",
                        "description": "Allow agent to end calls"
                    },
                    "endCallRulesOverride": {
                        "type": "string",
                        "description": "Custom instructions for ending calls"
                    },
                    "transferEnabled": {
                        "type": "boolean",
                        "description": "Allow agent to transfer calls"
                    },
                    "transferRoutes": {
                        "type": "array",
                        "description": "Available transfer destinations",
                        "items": {
                            "type": "object",
                            "properties": {
                                "to_number": {
                                    "type": "string",
                                    "pattern": "^\\+[1-9]\\d{1,14}$",
                                    "description": "Destination number (E.164)"
                                },
                                "condition": {
                                    "type": "string",
                                    "description": "When to offer this transfer"
                                }
                            },
                            "required": [
                                "to_number",
                                "condition"
                            ]
                        }
                    },
                    "transferDescriptionOverride": {
                        "type": "string",
                        "description": "Custom transfer instructions"
                    },
                    "voicemailEnabled": {
                        "type": "boolean",
                        "description": "Detect voicemail"
                    },
                    "voicemailAction": {
                        "type": "string",
                        "enum": [
                            "hangup",
                            "leave_message"
                        ],
                        "description": "Action when voicemail detected"
                    },
                    "voicemailMessage": {
                        "type": "string",
                        "description": "Message to leave on voicemail"
                    },
                    "voiceId": {
                        "type": "string",
                        "description": "Voice ID (copy from dashboard Voice Library)"
                    },
                    "voiceTemperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2,
                        "description": "Voice randomness (0-2)"
                    },
                    "voiceSpeed": {
                        "type": "number",
                        "minimum": 0.5,
                        "maximum": 1.5,
                        "description": "Speech speed (0.5-1.5)"
                    },
                    "runtimeConfig": {
                        "type": "object",
                        "description": "Advanced runtime configuration (optional)"
                    }
                },
                "required": [
                    "sipTrunkId",
                    "name",
                    "promptTemplate"
                ]
            },
            "AgentUpdate": {
                "type": "object",
                "description": "Update an existing AI voice agent. All fields are optional.",
                "properties": {
                    "sipTrunkId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "SIP trunk ID to use for this agent's calls"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 128,
                        "description": "Agent name"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "disabled"
                        ],
                        "description": "Agent status (active = can receive calls, disabled = inactive)"
                    },
                    "promptTemplate": {
                        "type": "string",
                        "description": "System prompt with {{variable}} placeholders"
                    },
                    "defaultVariables": {
                        "type": "object",
                        "nullable": true,
                        "description": "Default values for template variables"
                    },
                    "firstMessage": {
                        "type": "string",
                        "maxLength": 4000,
                        "description": "Agent's opening message"
                    },
                    "turnTimeoutSeconds": {
                        "type": "integer",
                        "minimum": -1,
                        "description": "Seconds to wait for user response (-1 = no timeout)"
                    },
                    "silenceEndCallTimeoutSeconds": {
                        "type": "integer",
                        "minimum": -1,
                        "description": "Silence duration before ending call (-1 = no timeout)"
                    },
                    "maxConversationDurationSeconds": {
                        "type": "integer",
                        "minimum": 1,
                        "description": "Maximum call duration in seconds"
                    },
                    "llmTemperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2,
                        "description": "LLM temperature for response randomness (0-2)"
                    },
                    "preCallWebhookUrl": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true,
                        "description": "Webhook URL called before answering (optional)"
                    },
                    "postCallWebhookUrl": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true,
                        "description": "Webhook URL called after call ends (optional)"
                    },
                    "endCallEnabled": {
                        "type": "boolean",
                        "description": "Allow agent to end calls"
                    },
                    "endCallRulesOverride": {
                        "type": "string",
                        "nullable": true,
                        "description": "Custom instructions for ending calls"
                    },
                    "transferEnabled": {
                        "type": "boolean",
                        "description": "Allow agent to transfer calls"
                    },
                    "transferRoutes": {
                        "type": "array",
                        "nullable": true,
                        "description": "Available transfer destinations",
                        "items": {
                            "type": "object",
                            "properties": {
                                "to_number": {
                                    "type": "string",
                                    "pattern": "^\\+[1-9]\\d{1,14}$",
                                    "description": "Destination number (E.164)"
                                },
                                "condition": {
                                    "type": "string",
                                    "description": "When to offer this transfer"
                                }
                            },
                            "required": [
                                "to_number",
                                "condition"
                            ]
                        }
                    },
                    "transferDescriptionOverride": {
                        "type": "string",
                        "nullable": true,
                        "description": "Custom transfer instructions"
                    },
                    "voicemailEnabled": {
                        "type": "boolean",
                        "description": "Detect voicemail"
                    },
                    "voicemailAction": {
                        "type": "string",
                        "enum": [
                            "hangup",
                            "leave_message"
                        ],
                        "description": "Action when voicemail detected"
                    },
                    "voicemailMessage": {
                        "type": "string",
                        "nullable": true,
                        "description": "Message to leave on voicemail"
                    },
                    "voiceId": {
                        "type": "string",
                        "description": "Voice ID (copy from dashboard Voice Library)"
                    },
                    "voiceTemperature": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 2,
                        "description": "Voice randomness (0-2)"
                    },
                    "voiceSpeed": {
                        "type": "number",
                        "minimum": 0.5,
                        "maximum": 1.5,
                        "description": "Speech speed (0.5-1.5)"
                    },
                    "runtimeConfig": {
                        "type": "object",
                        "nullable": true,
                        "description": "Advanced runtime configuration (optional)"
                    }
                }
            },
            "AgentPhoneNumber": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "e164": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{1,14}$",
                        "description": "Phone number in E.164 format"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "e164",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "AgentPhoneNumberCreate": {
                "type": "object",
                "properties": {
                    "e164": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{1,14}$",
                        "description": "Phone number in E.164 format"
                    }
                },
                "required": [
                    "e164"
                ]
            },
            "AgentCustomTool": {
                "type": "object",
                "description": "Custom function calling tool for agents",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string",
                        "description": "Tool name (used in function calls)"
                    },
                    "webhookUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Webhook URL to invoke"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "schema": {
                        "type": "object",
                        "description": "OpenAI function schema defining parameters"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "webhookUrl",
                    "enabled",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "AgentCustomToolCreate": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 64
                    },
                    "webhookUrl": {
                        "type": "string",
                        "format": "uri"
                    },
                    "enabled": {
                        "type": "boolean",
                        "default": true
                    },
                    "schema": {
                        "type": "object",
                        "description": "OpenAI function calling schema"
                    }
                },
                "required": [
                    "name",
                    "webhookUrl"
                ]
            },
            "AgentCustomToolUpdate": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 64
                    },
                    "webhookUrl": {
                        "type": "string",
                        "format": "uri"
                    },
                    "enabled": {
                        "type": "boolean",
                        "description": "Whether this tool is enabled"
                    },
                    "schema": {
                        "type": "object",
                        "nullable": true,
                        "description": "OpenAI function schema (can be null to remove)"
                    }
                }
            },
            "Call": {
                "type": "object",
                "description": "Phone call record",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "organizationId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "agentId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "sipTrunkId": {
                        "type": "string",
                        "format": "uuid",
                        "nullable": true
                    },
                    "direction": {
                        "type": "string",
                        "enum": [
                            "INBOUND",
                            "OUTBOUND"
                        ],
                        "description": "Call direction"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "INITIATED",
                            "ONGOING",
                            "TRANSFERRED",
                            "COMPLETED",
                            "FAILED",
                            "CANCELED"
                        ],
                        "description": "Current call status"
                    },
                    "fromNumber": {
                        "type": "string",
                        "description": "Caller's number (E.164)"
                    },
                    "toNumber": {
                        "type": "string",
                        "description": "Called number (E.164)"
                    },
                    "agentCallerIdName": {
                        "type": "string",
                        "nullable": true,
                        "description": "Caller ID name shown to recipient"
                    },
                    "agentName": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name of the agent that handled this call"
                    },
                    "variables": {
                        "type": "object",
                        "nullable": true,
                        "description": "Template variables used"
                    },
                    "recordingUrl": {
                        "type": "string",
                        "nullable": true,
                        "description": "URL to call recording (available after call ends)"
                    },
                    "hangupCause": {
                        "type": "string",
                        "nullable": true,
                        "description": "Reason call ended. Common values: USER_ENDED, END_CALL_TOOL, SILENCE_TIMEOUT, MAX_DURATION, VOICEMAIL_DETECTED"
                    },
                    "errorMessage": {
                        "type": "string",
                        "nullable": true,
                        "description": "Error message if call failed"
                    },
                    "transcript": {
                        "type": "array",
                        "nullable": true,
                        "description": "Conversation transcript",
                        "items": {
                            "type": "object"
                        }
                    },
                    "summary": {
                        "type": "string",
                        "nullable": true,
                        "description": "AI-generated summary"
                    },
                    "metrics": {
[...]
