{
    "openapi": "3.1.0",
    "info": {
        "title": "RevRing Voice AI API",
        "description": "RevRing Voice AI platform API for managing AI voice agents, phone calls, SIP trunks, and analytics. Build intelligent voice applications that can handle inbound and outbound phone calls with AI-powered conversational agents.",
        "version": "1.0.0",
        "contact": {
            "name": "RevRing Support",
            "url": "https://revring.ai"
        }
    },
    "servers": [
        {
            "url": "https://api.revring.ai/v1",
            "description": "Production API"
        }
    ],
    "security": [
        {
            "apiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "SIP Trunks",
            "description": "Manage SIP trunks for connecting agents to the phone network"
        },
        {
            "name": "Agents",
            "description": "Manage AI voice agents and their configuration"
        },
        {
            "name": "Calls",
            "description": "Manage and query phone calls"
        },
        {
            "name": "Analytics",
            "description": "Get analytics and metrics about your calls"
        },
        {
            "name": "Knowledge Bases",
            "description": "Manage knowledge bases and sources for agent retrieval-augmented generation"
        },
        {
            "name": "Test Suites",
            "description": "Manage test suites, test cases, and test runs for agent evaluation"
        }
    ],
    "paths": {
        "/sip-trunks": {
            "get": {
                "summary": "List SIP Trunks",
                "description": "Retrieve all SIP trunks for your organization. SIP trunks connect your AI agents to the phone network.",
                "operationId": "listSipTrunks",
                "tags": [
                    "SIP Trunks"
                ],
                "responses": {
                    "200": {
                        "description": "List of SIP trunks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SipTrunk"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Create SIP Trunk",
                "description": "Create a new SIP trunk. Provide phone numbers that will route through this trunk.",
                "operationId": "createSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SipTrunkCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "SIP trunk created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SipTrunk"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "409": {
                        "description": "Gateway already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "gateway_exists"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sip-trunks/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "SIP trunk ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get SIP Trunk",
                "description": "Retrieve a specific SIP trunk by ID",
                "operationId": "getSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "responses": {
                    "200": {
                        "description": "SIP trunk details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SipTrunk"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "patch": {
                "summary": "Update SIP Trunk",
                "description": "Update SIP trunk configuration including phone numbers",
                "operationId": "updateSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SipTrunkUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "SIP trunk updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/SipTrunk"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete SIP Trunk",
                "description": "Delete a SIP trunk. Cannot delete if agents are using it.",
                "operationId": "deleteSipTrunk",
                "tags": [
                    "SIP Trunks"
                ],
                "responses": {
                    "200": {
                        "description": "SIP trunk deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "description": "Cannot delete - has dependent agents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "has_dependent_agents"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents": {
            "get": {
                "summary": "List Agents",
                "description": "Retrieve all AI voice agents for your organization",
                "operationId": "listAgents",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "List of agents",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Agent"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Create Agent",
                "description": "Create a new AI voice agent with specified configuration",
                "operationId": "createAgent",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Agent created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Agent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error or invalid SIP trunk",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "invalid_body",
                                                "invalid_trunk",
                                                "create_failed"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Human-readable error detail"
                                        },
                                        "details": {
                                            "type": "object",
                                            "description": "Zod validation error details (when error is invalid_body)"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "409": {
                        "description": "Agent name already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "conflict"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Agent",
                "description": "Retrieve specific agent by ID",
                "operationId": "getAgent",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Agent details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Agent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "patch": {
                "summary": "Update Agent",
                "description": "Update agent configuration",
                "operationId": "updateAgent",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Agent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Invalid body or invalid trunk",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "invalid_body",
                                                "invalid_trunk"
                                            ]
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete Agent",
                "description": "Delete an agent",
                "operationId": "deleteAgent",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Agent deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "description": "Agent is in use by test suites",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "agent_in_use"
                                            ]
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cannot delete this agent because it is assigned as a tester in one or more test suites"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents/{id}/phone-numbers": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "List Agent Phone Numbers",
                "description": "Get phone numbers assigned to an agent for inbound calls",
                "operationId": "listAgentPhoneNumbers",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "List of phone numbers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AgentPhoneNumber"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "post": {
                "summary": "Add Phone Number",
                "description": "Assign a phone number to an agent",
                "operationId": "addAgentPhoneNumber",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentPhoneNumberCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Phone number added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgentPhoneNumber"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "description": "Number already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "number_exists"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents/{id}/phone-numbers/{phoneId}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "phoneId",
                    "in": "path",
                    "required": true,
                    "description": "Phone number ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "delete": {
                "summary": "Remove Phone Number",
                "description": "Remove a phone number from an agent",
                "operationId": "deleteAgentPhoneNumber",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Phone number removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/agents/{id}/custom-tools": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "List Custom Tools",
                "description": "Get custom tools configured for an agent",
                "operationId": "listAgentCustomTools",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "List of custom tools",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AgentCustomTool"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "post": {
                "summary": "Create Custom Tool",
                "description": "Add a custom tool that the agent can invoke via function calling",
                "operationId": "createAgentCustomTool",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentCustomToolCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Custom tool created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgentCustomTool"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/agents/{id}/custom-tools/{toolId}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "toolId",
                    "in": "path",
                    "required": true,
                    "description": "Tool ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "patch": {
                "summary": "Update Custom Tool",
                "description": "Update custom tool configuration",
                "operationId": "updateAgentCustomTool",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentCustomToolUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Custom tool updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgentCustomTool"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete Custom Tool",
                "description": "Remove a custom tool from an agent",
                "operationId": "deleteAgentCustomTool",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Custom tool deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/calls": {
            "get": {
                "summary": "List Calls",
                "description": "List calls with filtering, sorting, and pagination",
                "operationId": "listCalls",
                "tags": [
                    "Calls"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Items per page",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort field",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "createdAt",
                                "startedAt",
                                "endedAt",
                                "durationSeconds",
                                "status",
                                "direction"
                            ],
                            "default": "createdAt"
                        }
                    },
                    {
                        "name": "sortDir",
                        "in": "query",
                        "description": "Sort direction",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by status (comma-separated)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Filter by direction",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "INBOUND",
                                "OUTBOUND"
                            ]
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "query",
                        "description": "Filter by agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "sipTrunkId",
                        "in": "query",
                        "description": "Filter by SIP trunk ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "fromNumber",
                        "in": "query",
                        "description": "Filter by from number (E.164)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toNumber",
                        "in": "query",
                        "description": "Filter by to number (E.164)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdFrom",
                        "in": "query",
                        "description": "Filter by creation date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdTo",
                        "in": "query",
                        "description": "Filter by creation date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "schema": {
                            "type": "string",
                            "maxLength": 64
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of calls",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallsList"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Send Call",
                "description": "Initiate an outbound call with an agent",
                "operationId": "createOutboundCall",
                "tags": [
                    "Calls"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OutboundCallCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Outbound call initiated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Call"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "description": "Agent not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "agent_not_found"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Concurrency limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "concurrency_limit"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calls/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Call ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Call",
                "description": "Retrieve call details by ID",
                "operationId": "getCall",
                "tags": [
                    "Calls"
                ],
                "responses": {
                    "200": {
                        "description": "Call details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Call"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/analytics/overview": {
            "get": {
                "summary": "Get Analytics Overview",
                "description": "Get analytics overview with time-series data and summary cards",
                "operationId": "getAnalyticsOverview",
                "tags": [
                    "Analytics"
                ],
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "required": true,
                        "description": "Start date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": true,
                        "description": "End date (ISO 8601)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "query",
                        "description": "Filter by agent ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "tz",
                        "in": "query",
                        "description": "Timezone (IANA format)",
                        "schema": {
                            "type": "string",
                            "default": "UTC"
                        }
                    },
                    {
                        "name": "bucket",
                        "in": "query",
                        "description": "Time bucket granularity",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "auto",
                                "hour",
                                "day",
                                "month"
                            ],
                            "default": "auto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analytics data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnalyticsOverview"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            }
        },
        "/analytics/active": {
            "get": {
                "summary": "Get Active Calls Count",
                "description": "Get the current number of active (ongoing) calls. Not affected by date filters.",
                "operationId": "getActiveCalls",
                "tags": [
                    "Analytics"
                ],
                "responses": {
                    "200": {
                        "description": "Active calls count",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "activeCalls": {
                                                    "type": "integer",
                                                    "description": "Number of currently active calls"
                                                }
                                            },
                                            "required": [
                                                "activeCalls"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            }
        },
        "/calls/{id}/cancel": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Call ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "post": {
                "summary": "Cancel Call",
                "description": "Cancel a queued call. Only calls with status `QUEUED` can be cancelled.",
                "operationId": "cancelCall",
                "tags": [
                    "Calls"
                ],
                "responses": {
                    "200": {
                        "description": "Call cancelled",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Call"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Call is not cancellable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "call_not_cancellable"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Only queued calls can be cancelled"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/agents/{id}/knowledge-bases": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "List Agent Knowledge Bases",
                "description": "List knowledge bases linked to an agent",
                "operationId": "listAgentKnowledgeBases",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "List of linked knowledge bases",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AgentKnowledgeBaseLink"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "post": {
                "summary": "Link Knowledge Base",
                "description": "Link a knowledge base to an agent. The agent will use the knowledge base for retrieval-augmented generation during calls.",
                "operationId": "linkAgentKnowledgeBase",
                "tags": [
                    "Agents"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "knowledgeBaseId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "ID of the knowledge base to link"
                                    }
                                },
                                "required": [
                                    "knowledgeBaseId"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Knowledge base linked",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgentKnowledgeBaseLink"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "409": {
                        "description": "Knowledge base already linked",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "already_linked"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agents/{id}/knowledge-bases/{kbId}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Agent ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "kbId",
                    "in": "path",
                    "required": true,
                    "description": "Knowledge base ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "delete": {
                "summary": "Unlink Knowledge Base",
                "description": "Remove a knowledge base from an agent",
                "operationId": "unlinkAgentKnowledgeBase",
                "tags": [
                    "Agents"
                ],
                "responses": {
                    "200": {
                        "description": "Knowledge base unlinked",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/knowledge-bases": {
            "get": {
                "summary": "List Knowledge Bases",
                "description": "List all knowledge bases for your organization",
                "operationId": "listKnowledgeBases",
                "tags": [
                    "Knowledge Bases"
                ],
                "responses": {
                    "200": {
                        "description": "List of knowledge bases",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/KnowledgeBaseList"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Create Knowledge Base",
                "description": "Create a new knowledge base. After creation, add sources (text, URL, or file) to populate it.",
                "operationId": "createKnowledgeBase",
                "tags": [
                    "Knowledge Bases"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KnowledgeBaseCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Knowledge base created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/KnowledgeBase"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            }
        },
        "/knowledge-bases/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Knowledge base ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Knowledge Base",
                "description": "Retrieve a knowledge base by ID, including its sources",
                "operationId": "getKnowledgeBase",
                "tags": [
                    "Knowledge Bases"
                ],
                "responses": {
                    "200": {
                        "description": "Knowledge base details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/KnowledgeBase"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "patch": {
                "summary": "Update Knowledge Base",
                "description": "Update knowledge base name or description",
                "operationId": "updateKnowledgeBase",
                "tags": [
                    "Knowledge Bases"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KnowledgeBaseUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Knowledge base updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/KnowledgeBase"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete Knowledge Base",
                "description": "Delete a knowledge base and all its sources. This also removes all agent links.",
                "operationId": "deleteKnowledgeBase",
                "tags": [
                    "Knowledge Bases"
                ],
                "responses": {
                    "200": {
                        "description": "Knowledge base deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/knowledge-bases/{id}/sources": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Knowledge base ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "post": {
                "summary": "Add Source",
                "description": "Add a source to a knowledge base. Supports three source types:\n- **Text**: Send JSON with `sourceType: \"text\"`, `displayName`, and `content`\n- **URL**: Send JSON with `sourceType: \"url\"` and `originalUrl`\n- **File**: Send `multipart/form-data` with a `file` field (max 20MB)\n\nMaximum of 10 sources per knowledge base. Sources are processed asynchronously.",
                "operationId": "addKnowledgeBaseSource",
                "tags": [
                    "Knowledge Bases"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/KnowledgeSourceCreateText"
                                    },
                                    {
                                        "$ref": "#/components/schemas/KnowledgeSourceCreateUrl"
                                    }
                                ]
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "File to upload (max 20MB)"
                                    }
                                },
                                "required": [
                                    "file"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Source added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/KnowledgeSource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request or source limit reached",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/knowledge-bases/{id}/sources/{sourceId}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Knowledge base ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "sourceId",
                    "in": "path",
                    "required": true,
                    "description": "Source ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Source",
                "description": "Get a specific source and its processing status",
                "operationId": "getKnowledgeBaseSource",
                "tags": [
                    "Knowledge Bases"
                ],
                "responses": {
                    "200": {
                        "description": "Source details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/KnowledgeSource"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete Source",
                "description": "Remove a source from a knowledge base",
                "operationId": "deleteKnowledgeBaseSource",
                "tags": [
                    "Knowledge Bases"
                ],
                "responses": {
                    "200": {
                        "description": "Source deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/test-suites": {
            "get": {
                "summary": "List Test Suites",
                "description": "List all test suites for your organization with pagination",
                "operationId": "listTestSuites",
                "tags": [
                    "Test Suites"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "sortDir",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ],
                            "default": "desc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of test suites",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TestSuitesList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    }
                }
            },
            "post": {
                "summary": "Create Test Suite",
                "description": "Create a new test suite targeting a specific agent",
                "operationId": "createTestSuite",
                "tags": [
                    "Test Suites"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TestSuiteCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Test suite created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/TestSuite"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "description": "Target or tester agent not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/test-suites/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Test suite ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Test Suite",
                "description": "Retrieve a test suite by ID",
                "operationId": "getTestSuite",
                "tags": [
                    "Test Suites"
                ],
                "responses": {
                    "200": {
                        "description": "Test suite details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/TestSuite"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "patch": {
                "summary": "Update Test Suite",
                "description": "Update test suite configuration",
                "operationId": "updateTestSuite",
                "tags": [
                    "Test Suites"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TestSuiteUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Test suite updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/TestSuite"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "delete": {
                "summary": "Delete Test Suite",
                "description": "Delete a test suite and all its test cases and runs",
                "operationId": "deleteTestSuite",
                "tags": [
                    "Test Suites"
                ],
                "responses": {
                    "200": {
                        "description": "Test suite deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "deleted": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/test-suites/{id}/tests": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Test suite ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "List Test Cases",
                "description": "List all test cases in a test suite",
                "operationId": "listTestCases",
                "tags": [
                    "Test Suites"
                ],
                "responses": {
                    "200": {
                        "description": "List of test cases",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TestCase"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            },
            "post": {
                "summary": "Create Test Case",
                "description": "Add a test case to a test suite. Each test case includes a script for the tester to follow and a scoring rubric for evaluation.",
                "operationId": "createTestCase",
                "tags": [
                    "Test Suites"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TestCaseCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Test case created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/TestCase"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    }
                }
            }
        },
        "/test-suites/{id}/tests/{testId}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "Test suite ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                },
                {
                    "name": "testId",
                    "in": "path",
                    "required": true,
                    "description": "Test case ID",
                    "schema": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            ],
            "get": {
                "summary": "Get Test Case",
                "description": "Retrieve a specific test case",
                "operationId": "getTestCase",
                "tags": [
                    "Test Suites"
                ],
                "responses": {
                    "200": {
                        "description": "Test case details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/TestCase"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "402": {
                        "$ref": "#/components/responses/BillingInactiveError"
[...]
